@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  color: var(--blue-950);
  font-family: "Rubik", system-ui, sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: hsl(231, 69%, 60%);
  --red-400: hsl(0, 94%, 66%);

  --grey-50: hsl(0, 0%, 97%);
  --blue-950: hsl(229, 31%, 21%);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
  text-wrap: balance;
}

button {
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
}

.btn {
  height: 50px;
  /* width: 120px; */
  border-radius: 0.625rem;
  /* font-size: 1rem; */
  &.blue {
    background-color: var(--blue);
  }
  &.red {
    background-color: var(--red-400);
    color: var(--grey-50);
  }
}

.bd {
  border: 2px solid red;
}

.flex {
  display: flex;
  &.evenly {
    justify-content: space-evenly;
  }
  &.btw {
    justify-content: space-between;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.col {
    flex-direction: column;
  }
}

.hide {
  display: none !important;
}

html {
  min-height: 100vh;
}

body {
  min-height: inherit;
  padding-top: max(2%, 30px);
}

header {
  height: 4rem;
  .bookmark-logo {
    margin-inline-start: 10%;
  }
  nav {
    width: 40%;
    margin-inline-end: 10%;
    align-items: center;
    justify-content: space-between;
    button span {
      font-weight: bold;
    }
    * {
      width: 20%;
      text-align: center;
      font-size: 0.9rem;
      letter-spacing: 1.5px;
      cursor: pointer;
    }
  }
}
